body {
  color: #25263B;
}
ion-content {
  background: #F7F7F7;
  .slider {
    min-height: ~'calc(100vh - 50px)';
    padding-bottom: 40px;
    .slider-pager {
      bottom: 30px;
      margin-bottom: 0;
    }
  }
}

progress-bar {
  position: absolute;
  display: block;
  content: ' ';
  height: 50%;
  left: 0;
  z-index: -1;
  opacity: 0.2;
  &.progress-top {
    top: 0;
  }
  &.progress-bottom {
    bottom: 0;
  }
  &:hover {
    opacity: 1;
  }
}

a:hover {
  progress-bar {
    opacity: 1;
  }
}