<ion-view title="{{yearWeek}}">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat="yearWeek in weeks">
        <div class="box">
          <h1>Week: {{week.week}}</h1>
          <div class="projects">
            <ng-include src="'partial/week/project/project.html'"></ng-include>
          </div>
          <div class="users">
            <ng-include src="'partial/week/user/user.html'"></ng-include>
          </div>
        </div>
      </ion-slide>
  </ion-content>
</ion-view>