<!DOCTYPE html>
<html >
<head>
  <title></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-title" content="Dashboard">

  <!-- App LESS -->
  <link rel="stylesheet" href="bower_components/ionic/css/ionic.css" />
  <link rel="stylesheet" href="bower_components/nvd3/nv.d3.css"/>
  <link href="css/app.less" type="text/css" rel="stylesheet/less" />
  <link rel="stylesheet" type="text/css" href="bower_components/add-to-homescreen/style/addtohomescreen.css">

</head>
<body animation="slide-left-right-ios7" ng-app="iteam-dashboard">

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-build="exclude"></script>

  <!-- JS from Bower components -->
  <script src="bower_components/less/dist/less-1.7.4.js" data-build="exclude"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/ionic/js/ionic.js"></script>
  <script src="bower_components/ionic/js/ionic-angular.js"></script>

  <script src="bower_components/d3/d3.js"></script>
  <script src="bower_components/nvd3/nv.d3.js"></script>
  <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
  <script src="bower_components/add-to-homescreen/src/addtohomescreen.js"></script>

  <!-- Main App JS -->
  <script src="js/setup.js"></script>

  <!-- Service JS -->
  <script src="service/week.js"></script>
  <script src="service/project.js"></script>
  <script src="service/user.js"></script>
  <script src="service/colors.js"></script>
  <!-- Add New Service JS Above -->

  <!-- Model JS -->
  <!-- Add New Model JS Above -->

  <!-- Directive JS -->
  <script src="directive/week/week.js"></script>
  <script src="directive/badge/badge.js"></script>
  <script src="directive/donut-chart/donut-chart.js"></script>
  <!-- Add New Directive JS Above -->

  <!-- Filter JS -->
  <script src="filter/sort-by-department-name.js"></script>
  <!-- Add New Filter JS Above -->

  <!-- Partial JS -->
  <script src="partial/personal/personal.js"></script>
  <script src="partial/project/project.js"></script>
  <script src="partial/personal/details/details.js"></script>
  <script src="partial/project/details/details.js"></script>
  <!-- Add New Partial JS Above -->

  <ion-nav-view animation="slide-left-right">
    <ion-tabs class="tabs-striped">

      <ion-tab class="personal-tab bottom-tabs" title="Personal" icon="icon ion-person" ng-click="goTo('personal')">
        <ion-nav-view name="personal-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab class="project-tab bottom-tabs" title="Project" icon="icon ion-briefcase" ng-click="goTo('project')">
        <ion-nav-view name="project-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </ion-nav-view>
</body>
</html>
