<ion-nav-bar></ion-nav-bar>
<ion-view class="personal" title="V{{activeWeek.week}} {{user.toUpperCase()}}">
  <ion-content>
    <ion-slide-box ng-show="user" on-slide-changed="weekSelect($index)" active-slide="activeSlider">

      <ion-slide ng-repeat="yearWeek in weeks">
        <div class="box">
          <week projects="activeWeek.filteredProjects" user="user" ng-hide="!activeWeek.filteredProjects" height="300"></week>
        </div>

         <div class="box">
          <ion-list class="card">
            <a ng-repeat="project in activeWeek.filteredProjects | sortByDepartmentName" class="item item-icon-left item-icon-right" ui-sref="projectDetails({projectId: project.projectId})">
              <span class="mobile-row">
                <i class="icon ion-briefcase"></i>
                <span class="name">{{project.project.toUpperCase()}}</span>
              </span>
              <span class="mobile-row align-right">
                <strong class="ion-ios7-clock-outline"> {{project.planned}}</strong>
                <i class="ion-ios7-checkmark-outline"> {{project.reported}}</i>
                <i class="ion-ios7-help-outline"> {{project.calendar}}</i>
                <i class="icon ion-ios7-arrow-forward"></i>
              </span>
            </a>
          </ion-list>
        </div>

      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>