<ion-nav-bar></ion-nav-bar>
<ion-view title="V{{activeWeek.week}} {{user.toUpperCase()}}">
  <ion-content>
    <ion-slide-box ng-show="user" on-slide-changed="weekSelect($index)" active-slide="activeSlider">

      <ion-slide ng-repeat="yearWeek in weeks">
        <div class="box">
          <week projects="activeWeek.filteredProjects" user="user" ng-hide="!activeWeek.filteredProjects" height="300"></week>
        </div>

         <div class="box">
          <ion-list class="card">
            <a ng-repeat="project in activeWeek.filteredProjects | sortByDepartmentName" class="item item-icon-left item-icon-right listed" ui-sref="projectDetails({projectId: project.projectId})">
              <i class="icon ion-briefcase"></i>
              <span class="listed-name">{{project.project.toUpperCase()}}</span>
              <span class="listed-planned">{{project.planned}}</span>
              <span class="listed-reported">{{project.reported}}</span>
              <i class="icon ion-ios7-arrow-forward"></i>
            </a>
          </ion-list>
        </div>

      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>