<ion-nav-bar></ion-nav-bar>

<ion-view title="V{{activeWeek.week}} {{project.name}}" class="project-details">
  <ion-content>
    <ion-slide-box on-slide-changed="weekSelect($index)" active-slide="activeSlider">
      <ion-slide ng-repeat="yearWeek in weeks">

        <div class="box">
          <donut-chart users="yearWeek.filteredUsers"></donut-chart>
        </div>



        <div class="box">
          <ion-list class="card center">
            <a data-ng-repeat="(user, hours) in yearWeek.filteredUsers" class="item item-icon-left item-icon-right" data-ui-sref="personalDetails({user:user})">
              <badge user="user"></badge>
              <strong>{{user}}</strong>
              {{!!hours.planned && 'Planned: ' + hours.planned || '' }} {{ !!hours.reported && 'Reported: ' + hours.reported || '' }}
              <!-- <i class="icon ion-ios7-arrow-forward"></i> -->
            </a>
          </ion-list>
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>

