.project-details {
  position: relative;

  nvd3-pie-chart {
    position: absolute;
    width: 250px;
    height: 250px;
  }
  svg {
    position: relative;
  }
  .chart {
    position: relative;
    height: 250px;
  }
  .chart,
  .chart * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}