<ion-nav-bar></ion-nav-bar>
<ion-view title="V{{activeWeek.week}}">
  <ion-content>
    <ion-slide-box on-slide-changed="weekSelect($index)" active-slide="activeSlider">
      <ion-slide ng-repeat="yearWeek in weeks">
        <div class="box">
          <ion-list class="card">
            <a ng-repeat="project in yearWeek.projects | sortByDepartmentName" class="item item-icon-left item-icon-right listed" ui-sref="week.projectDetails({projectId: project.projectId})">
              <i class="icon ion-briefcase"></i>
              <span class="listed-name">{{project.name.toUpperCase()}}</span>
              <span class="listed-planned">{{project.summary.planned}}</span>
              <span class="listed-reported">{{project.summary.reported}}</span>
              <i class="icon ion-ios7-arrow-forward"></i>
            </a>
          </ion-list>
        </div>
      </ion-list-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
