<ion-nav-bar></ion-nav-bar>
<ion-view title="V{{activeWeek.week}}">
  <ion-content>
    <ion-slide-box on-slide-changed="weekSelect($index)" active-slide="activeSlider">
      <ion-slide ng-repeat="yearWeek in weeks">
        <div class="box">
          <ion-list class="card">
            <a ng-repeat="(user, summary) in yearWeek.users" class="item item-icon-left item-icon-right listed" ui-sref="week.personalDetails({ user:user })">
              <badge user="user"></badge>
              <span class="listed-name">{{user.toUpperCase()}}</span>
              <span class="listed-planned">{{summary.planned}}</span>
              <span class="listed-reported">{{summary.reported}}</span>
              <i class="icon ion-ios7-arrow-forward"></i>
            </a>
          </ion-list>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
  
</ion-view>