<div class="span12" ng-controller="WeekProjectCtrl">

<table>
  <tr valign="bottom">
    <td ng-repeat="(projectId, project) in projects">
        <a href="#project_{{projectId}}" class="planned" style="height: {{project.summary.planned * 3}}px;">
          <span>{{ project.summary.planned}}</span>
        </a>
        <a href="#project_{{projectId}}" class="reported" style="height: {{project.summary.reported * 3}}px;">
          <span>{{ project.summary.reported}}</span>
        </a>

      </div>

    </td>
  </tr>
  <tr>
    <td ng-repeat="(projectId, project) in projects" class="projectName">
      {{ project.name }}
    </td>
  </tr>
</table>