<div width="640" height="{{height + 100}}" class="list card">
  <div class="item no-line item-body">
    <svg class="full-image" height="{{height + 100}}" >
      <line ng-repeat="up in userProjects"
        ng-cloak
        ng-show="!!userProjects.length"
        x1="30"
        x2="163"
        y1="{{up.y1}}"
        y2="{{up.y2}}"
        style="stroke:{{up.color}}; stroke-width:6;"></line>

      <text ng-repeat="up in userProjects" x="30" y="{{up.y1}}" text-anchor="end">{{up.planned}}h</text>
      <text ng-repeat="up in userProjects" x="173" y="{{up.y2}}"> {{up.reported + up.calendar}}h {{up.project}}</text>
    </svg>

    <p>{{summary.text}}</p>
    <ul>
      <li class="col" ng-repeat="(department, name) in summary.departments">
        {{name}} {{department.reported}}h/{{department.planned}}h
      </li>
    </ul>

  </div>

  <div class="item no-line tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      {{summary.planned}}h planned
    </a>
    <a class="tab-item" href="#">
      {{summary.reported}}h reported
    </a>
  </div>

</div>